---
layout: default
title: About me
---
<link rel="stylesheet" href="references.css">
<div>
    <div class="references-section">
        {% for reference in site.references %}
        <div class="reference">
            {% unless reference.noWidth %}
            <a href="{{reference.href}}" target="_blank"><img width="120" src="../assets/images/{{ reference.logoUrl }}" /></a>
            {% endunless %}
            {% if reference.noWidth %}
            <a href="{{reference.href}}" target="_blank"><img src="../assets/images/{{ reference.logoUrl }}" /></a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>