{
%
include
'../../asse'
%
}

.active {
    font-size: large !important;
    color: #51a5ff !important;
}

div.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.navigation a {
    color: #000;
    list-style: none;
    margin: 5px 0 5px 0;
    font: 14px/1.5 "Noto Sans";
}

div.navigation a:hover {
    color: #ab0900;
}

div.platforms {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.platform {
    margin-right: 5px;
}

div.extended-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.compact-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.section-title {
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
}