{
%
include
'../../asse'
%
}

.active {
    font-size: large !important;
    color: #51a5ff !important;
}

ul.navigation {
    margin: 20px auto 40px;
    font-size: 1.5em;
    background-color: #FFF;
    border: none;
    height: auto;
}

ul.navigation li {
    list-style: none;
    width: auto;
    float: none;
    border-right: none;
    margin: 5px 0 5px 0;
}

ul.navigation li a {
    font: 14px/1.5 "Noto Sans"
}

div.platforms {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.platform {
    margin-right: 5px;
}

div.extended-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.compact-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.section-title {
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
}